@font-face {
    font-family: 'chalkduster';
    src: url('chalkduster.ttf');
}

@font-face {
    font-family: 'crimson';
    src: url('crimson-pro.woff2');
}


@font-face {
    font-family: 'crimson bold';
    src: url('crimson-pro-bold.woff2');
}

body {
	background : #FEFDE3;
    min-width: 400px;
}       

#firstpage{
    font-family: 'chalkduster';
    text-align: center;
    padding-top: 50px;
}

#title{
    font-size: 42px;
    color: green;
}